################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Kata/.vs/Kata/v17/.suo
/Kata/.vs/Kata/FileContentIndex
/Kata/.vs/Kata/v17/TestStore/0/000.testlog
/Kata/.vs/Kata/DesignTimeBuild/.dtbcache.v2
/Kata/.vs/ProjectEvaluation/kata.metadata.v7.bin
/Kata/.vs/ProjectEvaluation/kata.projects.v7.bin
/Kata/.vs/Kata/v17/.futdcache.v2
