################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Kata/.vs/Kata/v17/.suo
/Kata/.vs/Kata/FileContentIndex
/Kata/.vs/Kata/v17/TestStore/0/000.testlog
